<nz-layout>
    <!-- <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow">
        <div class="logo">
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">

            <li nz-menu-item (click)="move()">
                <span>
                    <i class="anticon anticon-up-circle-o"></i>
                    <span class="nav-text">Move</span>
                </span>
            </li>
            <li nz-menu-item>
                <span>
                    <i class="anticon anticon-arrow-left"></i>
                    <span (click)="left()" class="nav-text">Left</span>
                </span>
            </li>
            <li nz-menu-item>
                <span>
                    <i class="anticon anticon-arrow-right"></i>
                    <span (click)="right()" class="nav-text">Right</span>
                </span>
            </li>
            <li nz-menu-item>
                <span>
                    <i class="anticon anticon-profile"></i>
                    <span (click)="report()" class="nav-text">Robot</span>
                </span>
            </li>
            <li nz-menu-item>
                <span>
                    <i class="anticon anticon-close-circle"></i>
                    <span (click)="remove()" class="nav-text">Remove</span>
                </span>
            </li>
        </ul>
    </nz-sider> -->
    <nz-layout>

        <nz-content style="margin:2px 16px;">
            <div style="padding:24px; background: #fff; min-height: 80vh;">
                <router-outlet></router-outlet>

            </div>
        </nz-content>
        <nz-footer style="text-align: center;">Robot
            <img style="width:20px;margin-top: -10px" src="../../../assets/robot-face.png" /> Implement Using Angular By (Hasan Daghash)</nz-footer>
    </nz-layout>
</nz-layout>