<form nz-form nzGutter="24" [formGroup]="script" (ngSubmit)="multi()">
  <div nz-row>
    <nz-divider nzOrientation="left" nzText="Multi command issuer"></nz-divider>
    <nz-form-item>
      <nz-form-control>
        <textarea class="script-text" formControlName="text" nz-input placeholder="{{MULTI_COMMAND_PLACE_HOLDER}}" [nzAutosize]="{ minRows: 4, maxRows: 6 }"></textarea>
        <nz-form-explain *ngIf="script.controls.text.dirty && script.controls.text.hasError('required')">Please input your commands !</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" [disabled]="!script.valid">Submit</button>
  </div>
</form>

<form nz-form nzGutter="24" [nzLayout]="'inline'" [formGroup]="form" (ngSubmit)="issue('place')">
  <nz-divider nzOrientation="left" nzText="Single command issuer"></nz-divider>
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="anticon anticon-appstore-o">
            <input formControlName="positionX" nz-input placeholder="X">
          </nz-input-group>
          <nz-form-explain *ngIf="form.controls.positionX.dirty && form.controls.positionX.hasError('required')">Please input X position!</nz-form-explain>
          <nz-form-explain *ngIf="form.controls.positionX.dirty && form.controls.positionX.hasError('pattern')">Only numeric values allowed!</nz-form-explain>

        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="anticon anticon-appstore-o">
            <input formControlName="positionY" nz-input type="text" placeholder="Y">
          </nz-input-group>
          <nz-form-explain *ngIf="form.controls.positionY.dirty && form.controls.positionY.hasError('required')">Please input your Y position!</nz-form-explain>
          <nz-form-explain *ngIf="form.controls.positionY.dirty && form.controls.positionY.hasError('pattern')">Only numeric values allowed!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="7">
      <nz-form-item>
        <nz-form-control>
          <nz-select class="direction" style="width: 120px;" formControlName="direction" nzAllowClear nzPlaceHolder="Directions">
            <nz-option *ngFor="let direction of directions" [nzValue]="direction.value" [nzLabel]="direction.name"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="form.controls.direction.dirty && form.controls.direction.hasError('required')">Please input your direction !</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!form.valid">Place</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <br/>

  <div nz-row nzGutter="24">
    <div nz-col nzSpan="4">
      <button type="button" (click)="issue('move')" nz-button nzType="dashed">Move</button>
    </div>
    <div nz-col nzSpan="4">
      <button type="button" (click)="issue('left')" nz-button nzType="dashed">Left</button>
    </div>
    <div nz-col nzSpan="4">
      <button type="button" (click)="issue('right')" nz-button nzType="dashed">Right</button>
    </div>
    <div nz-col nzSpan="5">
      <button type="button" (click)="report()" nz-button nzType="dashed">Report</button>
    </div>
    <div nz-col nzSpan="7">
      <button type="button" (click)="issue('remove')" nz-button nzType="danger">Remove</button>
    </div>
  </div>
  <nz-divider nzOrientation="left" nzText="Results"></nz-divider>

  <div ns-row nxGutter="20">
    <button type="button" nz-button nzType="primary" (click)="results()" [nzLoading]="isLoading">
      <i class="anticon anticon-download"></i>Download Movments Results!</button>

  </div>
</form>